#toolbar-item-translate-strings-tray .form-item {
  margin: 0;
  margin-top: .35rem
}
#toolbar-item-translate-strings-tray select {
  height: 1.5rem;
  min-height: initial;
  font-size: 13px;
  padding: 0 0 0 .5rem;
}
